.container {
    width: 100vw;
    height: 35vh;
    text-align: center;
    place-items: center;
    width: fit-content;
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#pyramid-draw{
    width:auto;
    height:auto;
    /* background-color: aquamarine; */
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}