.container {
    width: 100vw;
    text-align: center;
    place-items: center;
    width: fit-content;
    margin: auto;
    margin-top: 50px;
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#pyramid-draw{
    min-width: 250px;;
    height:auto;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.card{
    width: 20%;
    background-color: rgb(165, 213, 213);
}
button{
    width: fit-content;
}